/* ikiwiki local style sheet

   Copyright © 2007, 2008, 2009, 2010 Free Software Foundation, Inc.

   Permission is granted to copy, distribute and/or modify this document under
   the terms of the GNU Free Documentation License, Version 1.2 or any later
   version published by the Free Software Foundation; with no Invariant
   Sections, no Front-Cover Texts, and no Back-Cover Texts.  A copy of the
   license is included in the section entitled ``GNU Free Documentation
   License''.  */

/**********************************************************************/
/* theming of the license and page metadata stuff down there */

/*
 * Someone else please work on this stuff -- someone who knows to make it
 * actually look good...  Some examples are available at
 * <http://ikiwiki.info/css_market/>.  --tschwinge
 */

/* TODO.  I'm incapable, but have ideas, so...

   (1) On web-edit pages like
   <http://www.bddebian.com/cgi-bin/wiki-ikiwiki.cgi?page=index&do=edit> I'd
   like to have the whole page fit into the web browser frame, so that no
   scrollbars show up in the browser and all of header, text editing box,
   copyright assignment notice, buttons and footer are visible at once, without
   having to scroll.  This means that the text editing box should be resized in
   height as needed (within limits, of course).  --tschwinge
*/

/* Put these elements side by side.  */
.pagedate,
.pagecopyright,
.pagelicense
{
  display: table-cell;
  padding: 0.15em;
}
.pagecopyright p,
.pagelicense p
{
  display: inline;
}
/* But add some spacing between them.  */
.pagedate + .pagecopyright,
.pagedate + .pagelicense,
.pagecopyright + .pagelicense,
.pagecopyright + .pagedate,
.pagelicense + .pagedate
{
  padding-left: 1em;
}

.pagedate,
.pagecopyright,
.pagelicense
{
  font-size: small;
  margin-bottom: 1em;
}


/**********************************************************************/
/* reseaulibre "brown" theme from gbastien */

/* gbastien:
   J'ai choisi aléatoirement et sans signification une palette de couleur en utilisant
   cet outil:  http://www.degraeve.com/color-palette/index.php
   à partir de cette image: http://free.desktopwallpaper.org/EleganceMeter-833553.jpeg
   Voici la liste pour un find & replace facile:
	#eeeeee: background pâle
	#221122: texte et action tabs
	#775544: background header et footer, texte sidebar
	#887733: hyperliens
	#ee9911: hyperliens header/footer
*/

/* Used in `.templates/editpage.tmpl'.  */
.copyright_assignment_notice
{
  background-color: #f0f0f0;
  font-size: small;
}

/* definition lists look better with the term in bold */
dt
{
    font-weight: bold;
}

h1 { border-bottom: 2px solid black; }
h2 { border-bottom: 1px solid #666; }
h3 { border-bottom: 1px solid #aaa; }
h4 { border-bottom: 1px solid #ccc; }
h5 { border-bottom: 1px solid #ddd; }
h6 { border-bottom: 1px solid #eee; }

/** Page and page header styles **/

body {
    vertical-align: baseline;
    padding: 0;
    font-family: helvetica,arial,sans-serif;
    font-size: 100%;
    background-color: #eeeeee;
}

.page {
    width: 100%;
    background-color: #eeeeee;
    color: #221122;
}

a {
    color: #887733;
}

.pageheader {
    background-color: rgb(0, 100, 154); /* blue-ish */
    color: #eeeeee;
    border-color: #221122;
    padding: 0;
}

.pageheader .header {
    width: 1008px;
    margin: 0 auto;
    float: none;
    position: relative; /* for search form */
}

.pageheader a {
    color: #ee9911
}

.header {
    text-shadow: 2px 3px 3px rgba(10, 10, 10, 0.4);
}

.pageheader .actions {
    display: bloc;
    position: inherit;
    width: 1008px;
    margin: 0 auto;
}

.pageheader .actions ul li {
    background-color: rgb(50, 50, 50);
    background-color: rgba(50, 50, 50, 0.5);
    color: #eeeeee;
    border: 0;
    margin: 0;
    padding: 0.1em 0.5em 0;
    font-size: smaller;
}

.pageheader .actions ul li:hover {
  transition: 0.5s linear;
  background-color: rgba(50, 50, 50, 1);
}

.pageheader .actions ul li a{
    color: #eeeeee;
}

#searchform {
    position: absolute; /* parent is relative */
    top: 0;
    right: 0;
}

input#searchbox {
    background-color: #eeeeee;
    border: 0;
}





/** Sidebar styles for the menu */

.sidebar {
    line-height: 40px;
    width: 1008px;
    margin: 0 auto;
    background-color: #eeeeee;
    color: #775544 !important;
    border: none;
    border-bottom: 1px solid #221122;
    padding: 0;
    display: block;
    float: none;
    height: 43px;
}

.sidebar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    float: left;
    margin-right: 5px;
    background-color: #EEEEEE;
    padding: 0 2em 0 2em;
    border: 3px none #221122;

}

.sidebar ul li:hover {
    border-bottom: 3px solid #221122;
}

.sidebar ul li a{
    text-decoration: none;
    color: #887733;
}

.sidebar ul li a:hover{
    color: #775544;
}

#pagebody {
    border: none;
    padding: 0;
    display: block;
    width: 1008px;
    min-height: 400px;
    margin: 0 auto;
}

/** Footer styles */
#footer {
    margin: 5em 0 0 0;
    padding: 1em 0 5em 0;
    border-top: 1px solid #221122;
    background-color: rgb(0, 100, 154); /* blue-ish */
    color: #eeeeee;
}

#footer div {
    width: 1008px;
    margin: 0 auto;
}

#pageinfo {
    border: none;
}

#footer a {
    color: #ee9911
}

/* make the code zones cooler and more obvious
 * using the Solarized light primitives: http://ethanschoonover.com/solarized */
code, pre {
    color: #657b83;
    background: #fdf6e3;
}

/* solarized color highlight theme

Ideally this would be switchable from ikiwiki itself instead of
fiddling around here.

Description="Solarized Light"

Default        = { Colour="#657b83" }
Canvas         = { Colour="#fdf6e3" }
Number         = { Colour="#dc322f" }
Escape         = { Colour="#6c71c4" }
String         = { Colour="#dc322f" }
StringPreProc  = { Colour="#dc322f" }
BlockComment   = { Colour="#93a1a1" }
PreProcessor   = { Colour="#6c71c4" }
LineNum        = { Colour="#268bd2" }
Operator       = { Colour="#586e75" }
LineComment = BlockComment

Keywords = {
  { Colour= "#cb4b16" },
  { Colour= "#859900" },
  { Colour= "#cb4b16" },
  { Colour= "#586e75" },
}
*/

pre.hl { color:#657b83; background-color:#fdf6e3; }
/* numbers */
.hl.num { color:#dc322f; }
/* escape sequences */
.hl.esc { color:#6c71c4; }
/* strings */
.hl.str { color:#dc322f; }
/* strings preproc */
.hl.dstr { color:#dc322f; }
/* line comment? */
.hl.slc { color:#93a1a1; }
/* comment? */
.hl.com { color:#93a1a1; }
/* preproc */
.hl.dir { color:#6c71c4; }
/* operator */
.hl.sym { color:#586e75; }
/* linenum */
.hl.line { color:#268bd2; }
/* background highlight? */
.hl.mark { background-color:#073642; }
/* keywords */
.hl.kwa { color:#cb4b16; }
.hl.kwb { color:#859900; }
.hl.kwc { color:#cb4b16; }
.hl.kwd { color:#93a1a1; }

/* for the /stats page */
.reseaulibre-monitoring-graphs {
  width: 1200px;
}

/* makes it easy to place a photo on the float right, next to the map. */
.reseaulibre-node-photo-right {
  float: right;
}

/* consistently float the map right in both Chrome and FF.
   Not sure why this bug occurs in the first place. Might be in openlayers.
   Apply to pagebody, avoids applying float to the full page map. */
#pagebody #content #mapdiv-map {
  float: right;
  margin-left: 1.5em !important; /* leave spacing between text and map */
  margin-bottom: 1.5em !important; /* leave spacing between text and map */
  border: 1px solid #ccc;
}

/* Subscribe box for the mailing list */
.reseaulibre-subscribe-box {
  border: 1px solid #777;
  border-radius: 10px;
  padding: 1em;
  margin: 2em auto; /* center, and space vertically from content */
  width: 550px;
}

.reseaulibre-subscribe-box-description {
  font-weight: bold;
  padding-bottom: 1em;
}

.reseaulibre-subscribe-box label {
  display: block;
}

.reseaulibre-subscribe-box input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: 0px none;
  font: 15px Helvetica,Arial,sans-serif;
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
}


/* Hightlight the focussed form element. */
textarea:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
select[multiple="multiple"]:focus {
  box-shadow: 0 0 5px rgb(170, 204, 238);
}

/* Icons on front page (Participate, Documentation, ..) */
ul.reseaulibre-list-actions {
  list-style: none;
  padding: 0;
}

ul.reseaulibre-list-actions li a.reseaulibre-link-action {
  display: block;
  padding-left: 70px;
  padding-top: 10px;
  height: 70px;
  font-size: 32px;
}

ul.reseaulibre-list-actions .reseaulibre-list-actions-participate a.reseaulibre-link-action {
  background: url("/img/speech_bubble-64px.png") no-repeat scroll 0% 0% transparent;
}

ul.reseaulibre-list-actions .reseaulibre-list-actions-documentation a.reseaulibre-link-action {
  background: url("/img/settings2-64px.png") no-repeat scroll 0% 0% transparent;
}

ul.reseaulibre-list-actions .reseaulibre-list-actions-faq a.reseaulibre-link-action {
  background: url("/img/help-64px.png") no-repeat scroll 0% 0% transparent;
}
