<tr>
<td><TMPL_VAR NAME="recno"></td>
<td><a href="/<TMPL_VAR NAME="page">"><TMPL_VAR NAME="TITLE"></a></td>
<td><TMPL_VAR NAME="IP"></td>
<td><TMPL_VAR NAME="IPv6"></td>
<td><TMPL_VAR NAME="MAC"></td>
</tr>
