<tr>
<td><TMPL_VAR NAME="TITLE"></td>
<td><TMPL_VAR NAME="recno"></td>
<td><TMPL_VAR NAME="page"></td>
<td><TMPL_VAR NAME="IP"></td>
<td><TMPL_VAR NAME="MAC"></td>
<td><TMPL_VAR NAME="IPv6"></td>
</tr>
